In [376]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [389]:
# Read in the data
portions = pd.read_excel('portions.xlsx', index_col='date', parse_dates=True)
work_hours = pd.read_excel('work_hours.xlsx', index_col='key', parse_dates=True, usecols='A,C:AG')
employees = pd.read_excel('work_hours.xlsx',sheet_name='employee', index_col='key', usecols='C,F')
wages = pd.read_excel('wages.xlsx', index_col='key', usecols=['key', 'wage'])
employees = pd.concat([employees, wages], axis=1)

In [390]:
# Convert all fields to minutes
for col in work_hours.columns:
    work_hours[col] = work_hours[col].apply(lambda x: x.hour*60 + x.minute)
work_hours.head()

,2022-08-23,2022-08-24,2022-08-25,2022-08-26,2022-08-27,2022-08-28,2022-08-29,2022-08-30,2022-08-31,2022-09-01,...,2022-09-13,2022-09-14,2022-09-15,2022-09-16,2022-09-17,2022-09-18,2022-09-19,2022-09-20,2022-09-21,2022-09-22
key,,,,,,,,,,,,,,,,,,,,,
4000175,45,765,0,45,0,0,0,45,45,765,...,0,0,45,45,0,0,45,45,0,0
4000182,252,105,252,105,252,0,765,0,147,147,...,147,527,252,252,147,675,0,105,147,252
4000220,105,252,252,252,252,0,765,252,252,252,...,105,252,0,252,252,0,765,105,252,252
4000239,147,252,252,147,252,0,765,252,252,252,...,252,252,147,252,252,765,765,252,252,252
4000240,252,0,252,252,147,0,765,252,252,252,...,0,0,0,0,0,0,0,0,0,0

In [391]:
# overtime work hours
overtime_work_hours = work_hours.copy()

# normal work hours
normal_work_hours = work_hours.copy()

for col in normal_work_hours.columns:
    if col.weekday() in [6,0]:
        normal_work_hours[col] = 0
    else:
        normal_work_hours[col] = 8*60

In [392]:
# Output frames to csv
portions.to_csv('portions.csv')
normal_work_hours.to_csv('work_hours_normal.csv')
overtime_work_hours.to_csv('work_hours_overtime.csv')
employees.to_csv('employees.csv')